{% css %}
.webmentions {
    h2 {
        margin-bottom: 4px;
    }
    .facepile {
        --overlap: 8px;
        margin-left: var(--overlap);
    }

    a.avi {
        display: inline-block;
        margin-left: calc(-1 * var(--overlap));

        img {
            border-radius: 100%;
            border: 2px solid white;
            &:hover {
                position: relative;
                scale: 1.2;
                z-index: 2;
            }
        }
    }
    .wm-reply {
        a.avi {
            position: relative;
            top: 16px;
        }
        .avi-placeholder {
            position: relative;
            top: 16px;
            width: 48px;
            height: 52px;
            margin: 0 !important;
        }

        .wm-reply-meta {
            display: flex;
            align-items: center;
            padding: 4px;

            .wm-reply-name {
                font-weight: 700;
            }
            .wm-reply-date {
                color: var(--cyan-11);
            }
            span {
                margin-top: 0;
                margin-left: 12px;
            }
        }
        .wm-reply-text {
            margin-top: -16px;
            margin-left: 64px;
        }
        .wm-reply-author:not(:hover) {
            text-decoration: none;
        }
    }
}

{% endcss %}

{%- assign wms = webmentions | webmentionsForUrl: page.url -%}
{%- assign imgSize="48" -%}

<div class="webmentions">

<hr>

<h2>Interactions</h2>


<p>Interact with this page via <a href="/webmentions">Webmentions</a>.</p>

{% if wms['repost-of'] %}
    {%- assign reactions = wms['repost-of'] -%}
    <h2>{{reactions.length | pluralize: 'Repost'}}</h2>
    <div class="facepile">
        {% for avi in reactions %}
            <a class="avi" href="{{ avi.author.url }}"><img alt="{{ avi.author.name }}" src="{{ avi.author.photo }}" width="{{ imgSize }}" loading="lazy" decoding="async"></a>
        {% endfor %}
    </div>
{% endif %}

{% if wms['like-of'] %}
    {%- assign reactions = wms['like-of'] -%}
    <h2>{{reactions.length | pluralize: 'Like'}}</h2>
    <div class="facepile">
        {% for avi in reactions %}
            <a class="avi" href="{{ avi.author.url }}"><img alt="{{ avi.author.name }}" src="{{ avi.author.photo }}" width="{{ imgSize }}"></a>
        {% endfor %}
    </div>
{% endif %}

{% if wms['mention-of'] %}
    {%- assign reactions = wms['mention-of'] -%}
    <h2>{{reactions.length | pluralize: 'Mention'}}</h2>

    {% for mention in reactions %}
        <div class="wm-reply">
            <div class="wm-reply-meta">
                {% if mention.author.photo != "" %}
                    <a class="avi" href="{{ mention.url }}"><img alt="{{ mention.author.name }}" src="{{ mention.author.photo }}" width="{{ imgSize }}"></a>
                {% elsif mention.photo[0] %}
                    <a class="avi" href="{{ mention.url }}"><img alt="{{ mention.author.name }}" src="{{ mention.photo[0] }}" width="{{ imgSize }}"></a>
                {% else %}
                    <span class="avi-placeholder"></span>
                {% endif %}
                <a class="wm-reply-author" href="{{ mention.url }}"><span class="wm-reply-name">{{ mention.author.name }}</span></a>
                <a href="{{ mention.url }}"><span class="wm-reply-date">{{  mention.published | date:"%b %d, %Y" }}</span></a>
            </div>
            <p class="wm-reply-text">{{ mention.content.text }}</p>
        </div>
    {% endfor %}
{% endif %}

{% if wms['in-reply-to'] %}
    {%- assign replies = wms['in-reply-to'] -%}
    <h2>{{replies.length | pluralize: 'Reply', 'Replies'}}</h2>
    {% for avi in replies %}
        <div class="wm-reply">
            <div class="wm-reply-meta">
                <a class="avi" href="{{ avi.url }}"><img alt="{{ avi.author.name }}" src="{{ avi.author.photo }}" width="{{ imgSize }}"></a>
                <a class="wm-reply-author" href="{{ avi.url }}"><span class="wm-reply-name">{{ avi.author.name }}</span></a>
                <a href="{{ avi.url }}"><span class="wm-reply-date">{{  avi.published | date:"%b %d, %Y" }}</span></a>
            </div>
            <p class="wm-reply-text">{{ avi.content.text }}</p>
        </div>
    {% endfor %}
{% endif %}